<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Temple Recognition App{% endblock %}</title>
    <!-- Include your CSS file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Header -->
    {% include 'header.html' %}

    <!-- Content -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}
</body>
</html>
